<div class="container article-contents">
    <div class="row">
        <section class="span7 content" id="content">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Activity</a></li>
                    <li><a href="#tab2" data-toggle="tab">Commit</a></li>
                    <li><a href="#tab3" data-toggle="tab">Request</a></li>
                    <li><a href="#tab4" data-toggle="tab">Issues</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <article class="row">
                            <div class="span7">
                                <div class="row">
                                    <header class="span7">
                                        <h4><strong><a href="#">Title of the post</a></strong></h4>
                                    </header>
                                </div>
                                <div class="row">
                                    <section class="span7">
                                        <a href="#" class="thumbnail article-thumnail span2">
                                            <img src="http://placehold.it/260x180" alt="">
                                        </a>

                                        <p>
                                Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
                                            Utinam
                                            salutatus
                                            ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad
                                            nobis
                                            propriae
                                            quaerendum sea.
                                        </p>

                                        <p>
                                Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
                                            Utinam
                                            salutatus
                                            ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad
                                            nobis
                                            propriae
                                            quaerendum sea.
                                        </p>

                                        <p><a class="btn" href="#">Read more</a></p>
                                    </section>
                                </div>
                                <div class="row">
                                    <footer class="span7">
                                        <p></p>

                                        <p>
                                            <i class="icon-user"></i> by <a href="#">John</a>
                                            | <i class="icon-calendar"></i> Sept 16th, 2012
                                            | <i class="icon-comment"></i> <a href="#">3 Comments</a>
                                            | <i class="icon-share"></i> <a href="#">39 Shares</a>
                                            | <i class="icon-tags"></i> Tags : <a href="#"><span
                                        class="label label-info">Javascript</span></a>
                                            <a href="#"><span class="label label-info">Bootstrap</span></a>
                                        </p>
                                    </footer>
                                </div>
                            </div>
                        </article>
                        <hr>
                        <article class="row">
                            <div class="span7">
                                <div class="row">
                                    <header class="span7">
                                        <h4><strong><a href="#">Title of the post</a></strong></h4>
                                    </header>
                                </div>
                                <div class="row">
                                    <section class="span7">
                                        <a href="#" class="thumbnail article-thumnail span2">
                                            <img src="http://placehold.it/260x180" alt="">
                                        </a>

                                        <p>
                                Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
                                            Utinam
                                            salutatus
                                            ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad
                                            nobis
                                            propriae
                                            quaerendum sea.
                                        </p>

                                        <p>
                                Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
                                            Utinam
                                            salutatus
                                            ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad
                                            nobis
                                            propriae
                                            quaerendum sea.
                                        </p>

                                        <p><a class="btn" href="#">Read more</a></p>
                                    </section>
                                </div>
                                <div class="row">
                                    <footer class="span7">
                                        <p></p>

                                        <p>
                                            <i class="icon-user"></i> by <a href="#">John</a>
                                            | <i class="icon-calendar"></i> Sept 16th, 2012
                                            | <i class="icon-comment"></i> <a href="#">3 Comments</a>
                                            | <i class="icon-share"></i> <a href="#">39 Shares</a>
                                            | <i class="icon-tags"></i> Tags : <a href="#"><span
                                        class="label label-info">Javascript</span></a>
                                            <a href="#"><span class="label label-info">Bootstrap</span></a>
                                        </p>
                                    </footer>
                                </div>
                            </div>
                        </article>
                        <hr>
                        <article class="row">
                            <div class="span7">
                                <div class="row">
                                    <header class="span7">
                                        <h4><strong><a href="#">Title of the post</a></strong></h4>
                                    </header>
                                </div>
                                <div class="row">
                                    <section class="span7">
                                        <a href="#" class="thumbnail article-thumnail span2">
                                            <img src="http://placehold.it/260x180" alt="">
                                        </a>

                                        <p>
                                Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
                                            Utinam
                                            salutatus
                                            ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad
                                            nobis
                                            propriae
                                            quaerendum sea.
                                        </p>

                                        <p>
                                Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
                                            Utinam
                                            salutatus
                                            ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad
                                            nobis
                                            propriae
                                            quaerendum sea.
                                        </p>

                                        <p><a class="btn" href="#">Read more</a></p>
                                    </section>
                                </div>
                                <div class="row">
                                    <footer class="span7">
                                        <p></p>

                                        <p>
                                            <i class="icon-user"></i> by <a href="#">John</a>
                                            | <i class="icon-calendar"></i> Sept 16th, 2012
                                            | <i class="icon-comment"></i> <a href="#">3 Comments</a>
                                            | <i class="icon-share"></i> <a href="#">39 Shares</a>
                                            | <i class="icon-tags"></i> Tags : <a href="#"><span
                                        class="label label-info">Javascript</span></a>
                                            <a href="#"><span class="label label-info">Bootstrap</span></a>
                                        </p>
                                    </footer>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <p>Howdy, I'm in Section 2.</p>
                    </div>
                </div>
            </div>

            <hr>
        </section>
        @rightmain()
    </div>
</div>