<section class="span3 offset1 content" id="right-content">
    <div class="">
        <div class="row">
            <span class=""><h4><i class="icon-bookmark"></i> Project</h4> </span>
        </div>
        <div class="row">
            <div class="span4">
                <div class="input-append">
                    <input type="text" id="" name="">
                    <span class="add-on"><i class="icon-search "></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <table class="table table-bordered" >
                    <tr >
                        <td><i class="icon-book"></i> BlogDesign </td>
                    </tr>
                    <tr>
                        <td><i class="icon-book"></i> BlogDesign </td>
                    </tr>
                    <tr>
                        <td><i class="icon-book"></i> BlogDesign </td>
                    </tr>
                    <tr>
                        <td><i class="icon-book"></i> BlogDesign </td>
                    </tr>
                    <tr>
                        <td><i class="icon-book"></i> BlogDesign </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="margin-top: 20px;"></div>
        <div class="row">
            <span class=""><h4><i class="icon-bookmark"></i> Search Commit Log</h4> </span>
        </div>
        <div class="row">
            <div class="span4">
                <div class="input-append">
                    <input type="text" id="" name="">
                    <span class="add-on"><i class="icon-search "></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <table class="table table-bordered" >
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
</section>