<section class="span4 offset1 content" id="right-content">
    <div class="">
        <div class="row">
            <span class="span2"><h4><i class="icon-bookmark"></i>Project</h4></span>
            <span class="span2"><button class="btn btn-inverse pull-right">new Project</button></span>

        </div>
        <div class="row">
            <div class="span4">
                <input class="span4" type="text" id="" name="">
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <table class="table table-bordered" >
                    <tr >
                        <td><i class="icon-book"></i> BlogDesign </td>
                    </tr>
                    <tr>
                        <td><i class="icon-book"></i> BlogDesign </td>
                    </tr>
                    <tr>
                        <td><i class="icon-book"></i> BlogDesign </td>
                    </tr>
                    <tr>
                        <td><i class="icon-book"></i> BlogDesign </td>
                    </tr>
                    <tr>
                        <td><i class="icon-book"></i> BlogDesign </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="margin-top: 20px;"></div>
        <div class="row">
            <span class="span4"><h4><i class="icon-bookmark"></i>Search Commit Log</h4></span>
        </div>
        <div class="row">
            <div class="span4">
                <input class="span4" type="text" id="" name="">
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <table class="table table-bordered" >
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>
                    <tr>
                        <td><i class="icon-code-fork"></i> #24232 게시판 이미지 안나오는 문제... </td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
</section>